:root {
  --color-primary: #02b4f7;
  --color-primary-light: #02d3f7;
  --color-primary-dark: #0391f7;

  --color-grey-light-0: #fff;
  --color-grey-light-1: #fafafa;
  --color-grey-light-2: #eee;
  --color-grey-light-3: #ddd;
  --color-grey-light-4: #ccc;
  --color-grey-light-5: #d4d4d4;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 63.5%; //1rem = 10px --> 10px/16px(browser default) = 62.5%
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark-2);
  line-height: 1.6;
  background-color: var(--color-primary);
  background: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}